/* Your styles here */
body {
  text-align: center;
  margin: auto;
  max-width: 450px;
}

header {
  background-color: black;
  height: 10vh;
  text-align: center;
}

#logo {
  margin: 15px auto;
  height: 5vh;
}
h1 {
  color: #25a2c3;
  font-family: "Montserrat";
  font-weight: bold;
  margin: center;
  padding: 1em;
  font-size: 2em;
  line-height: 1em;
}

p {
  color: #393d41;
  font-family: Open Sans;
  font-size: 1.2rem;
  line-height: 1.65;
  padding-top: 5px;
  padding: 20px;
}

#Corso {
  background-image: url(assets/banner.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 70vw;
}
#bottone-partiamo:hover {
  background-color: #f04c2f;
  color: black;
}
button {
  margin: 20px;
  padding: 1.4vw;
  background-color: #f04c2f;
  width: 17vw;
  border: 0cap;
  font-family: montserrat;
  color: white;
  font-weight: bold;
  border-radius: 7%;
  font-size: 2vw;
  text-align: center;
  cursor: pointer;
}
h2 {
  color: #25a2c3;
  font-family: "Montserrat";
  font-weight: bold;
  margin: center;
  padding-top: 51px;
  font-size: 1em;
  line-height: 1em;
}
h3 {
  font-size: 30px;
}
.tremesi {
  color: white;
}
span {
  font-size: 1.5rem;
}
#immagine-rotonda {
  border-radius: 50%;
  width: 190px;
  height: 190px;
}
main {
  margin: 50px 50px;
  padding: 20px;
  line-height: 1.5;
}

#rossa {
  background-color: #f04c2f;
  padding: 50px;
  height: 250px;
  margin-top: 50px;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
}
.cards {
  border: 1px solid #dee1e3;
  width: 100%;
  margin: 40px auto;
  border-radius: 5px;
}

.img {
  padding-top: 40px;
  width: 400px;
  height: 350px;
}
footer {
  background-color: #25a2c3;
  line-height: 1.2rem;
  padding: 20px;
}
footer div h1 {
  color: white;
}
#pix {
  border-top: 1px solid white;
  color: white;
  width: 240px;
  margin: 30px auto;
  padding: 40px;
  font-size: 0.8em;
}
i {
  color: white;
}
div i {
  text-decoration: underline;
}
div span {
  text-decoration: underline;

  color: white;

  font-size: 0.8em;
}
